<!DOCTYPE html>
<html lang='fr'>

<head>
  <title>{% block title %}Accueil {% endblock title %} | OpenFaceRooms</title>
  {% load static %}

  {# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"> #}
  <link rel="stylesheet" type="text/css"  href="{% static 'css/style.css' %}" />
</head>

<body>

  <header>
    <div class="inside flex_header">
      <h1><a href="{% url 'social_utilisateurs' %}">OpenFaceRooms - Réseau Social d'Entreprise</a></h1>
      <a href="{% url 'admin:index' %}">Admin</a>
    </div>
    {% if user.is_authenticated %}
    <div class ="inside">
      <p><i><small>Bonjour {{ user.username }} ! Vous êtes connecté·e.</small></i></p>
    </div>
    {% endif %}

  </header>

  <nav class="inside">
    <ul>
      <li class=myButton><a href="{% url 'social_utilisateurs' %}">Accueil</a></li>
      <li class=myButton><a href="{% url 'registration' %}">Créer un compte</a></li>
      {% if user.is_authenticated and user.profil.id %}
        <li class=myButton><a href="{% url 'social_profile' user.profil.id %}">Mon profil</a></li>
        <li class=myButton><a href="{% url 'deconnexion' %}">Déconnexion</a></li>
      {% else %}
        <li class=myButton><a href="{% url 'connexion' %}">Connexion</a></li>
      {% endif %}
    </ul>
  </nav>

  <div class="inside">
    {% block content %}{% endblock %}
  </div>

  <footer>
    <p class="inside">Mon super réseau social - Powered by Django</p>
  </footer>

</body>


