{% extends "base.html" %}

{% block title %}Profil{% endblock title %}

{% block content %}
    {% load static %}
    <h2>Profil de {{ username }} </h2>

    <section>
        {% if user.is_authenticated %}
            {% if user.username == username %}
                <p> Poster un nouveau statut : </p>
            {% else %}
                <p> Envoyez un message à {{ username }}  </p>
            {% endif %}
            <form action="" method="post" class="form-inline">
                {% csrf_token %}
                {{ message_form }}
                <input type="submit" name = "nouveau_statut" value="Envoyer" class="myButton"/>
            </form>
        {% endif %}
    </section>


    {% if statuts %}
        <section>

        {% for statut in statuts %}
            <div class="statut">
                <div class="ligne_avatar">
                    <p class="avatar">
                        {% if not statut.auteur.avatar %}
                            <img src="{% static 'img/user_neutral.png' %}" alt="avatar utilisateur" width="50px">
                        {% else %}
                            <img src="{{ statut.auteur.avatar.url }}" alt="avatar utilisateur" width="50px">
                        {% endif %}
                    </p>
                    <div class="info_statut">
                        <p>
                            <span class="auteur">{{ statut.auteur.user.username }}</span>
                            {% if statut.message.destinataire  %}
                                --> <span class="auteur"> {{ statut.message.destinataire.user.username }}</span>
                            {% endif %}
                        </p>
                        <p class= "dateheure">
                            {{ statut.date }}
                        </p>
                    </div>
                </div>
                <p class="texte_statut"> {{statut.texte }}</p>


                <div class="zone_commentaires">
                    {% for commentaire in statut.commentaire.all %}
                        <div class = "commentaire">
                            <p><span class="commentateur">{{ commentaire.auteur.user.username }}</span> : {{ commentaire.texte }}</p>
                            <p class="dateheure">Il y a {{ commentaire.date|timesince }}</p>
                        </div>
                    {%endfor %}
                    <form action="" method="post" class="form-inline">
                        {% csrf_token %}
                        {{ comment_form }}
                        <input type="hidden" name='statut_id' value= "{{ statut.pk }}" />
                        <input type="submit" value="Envoyer" name="nouveau_commentaire" class="myButton"/>
                    </form>
                </div>


            </div>
        {% endfor %}
        </section>
    {% else %}
        <section>
            <p>Le mur de cet utilisateur est vide !</p>
        </section>
    {% endif %}



    <section>
        <h3><a href="{% url 'social_utilisateurs' %}">Retour à la liste des utilisateurs</a></h3>
    </section>

{% endblock %}